*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.output{
  display: flex;
  width: 400px;
  height: 50px;
  background-color: black;
  color: gold;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.key{
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttons {
  width: 400px;
  flex-wrap: wrap;
  margin-top: 1rem;
  display: flex;
  margin: 0 auto;
}

.dark_gray{
  background-color: #222222;
  color: #fff;
}